@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}
::-webkit-scrollbar-thumb {
  background: #1e293b; /* slate-800 */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155; /* slate-700 */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}